@charset "UTF-8";
/*tlačítko zpět*/
/*#4D2319 - tmave hneda
#2E170F - tmavsi hneda
#6C3523 - stredni hneda
#E6C0B2 - svetle hneda
#F5E4E0 - jeste svetlejsi
--------------------------
#E6AA68 - stredne bezova (fawn)*/
/* ----- nastavení GRIDu, použit zatím jen na stránce Povaha > nejčastější problémy -----*/
.grid {
  text-align: center;
  display: grid;
  gap: 20px;
  align-items: start;
}
@media screen and (min-width: 768px) {
  .grid {
    text-align: justify;
  }
}
.grid__title {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .grid__title {
    text-align: justify;
  }
}
.grid__text-normal {
  grid-column-start: 1;
  grid-column-end: 4;
  margin: 0;
}
.grid__subtitle {
  text-align: center;
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 4;
}
@media screen and (min-width: 768px) {
  .grid__subtitle {
    text-align: justify;
    grid-column-end: 2;
  }
}
.grid__text {
  grid-column-start: 1;
  grid-column-end: 4;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .grid__text {
    grid-column-start: 2;
  }
}
.grid :first-child {
  margin-top: 16px;
}
.grid :first-child::before {
  display: none;
}

/*li {

    list-style-type: none;

    }*/
.menu {
  margin: 0;
  padding: 0;
  margin-top: 5px;
  background-color: #2E170F;
  text-align: center;
}
.menu__checkbox {
  position: absolute;
  left: -9999px;
}
.menu__checkbox:checked ~ .menu__list {
  display: block;
}
.menu__toggler {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
@media screen and (min-width: 768px) {
  .menu__toggler {
    display: none;
  }
}
.menu__list {
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #6C3523;
}
@media screen and (min-width: 768px) {
  .menu__list {
    display: flex;
    width: 760px;
    justify-content: space-around;
    width: auto;
  }
}
.menu__item {
  border-bottom: 1px solid white;
  padding: 5px 0;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .menu__item {
    width: auto;
    font-size: 20px;
    flex-grow: 1;
    text-align: center;
    border-bottom: 0;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .menu__item--active {
    background-color: #2E170F;
  }
}
.menu__link {
  display: block;
  text-decoration: none;
  padding: 5px 0;
  color: #F5E4E0;
}
.menu__link:hover {
  background-color: #2E170F;
}

.menu-inferior {
  margin: 0;
  padding: 0;
  margin-top: 5px;
}
.menu-inferior__checkbox {
  position: absolute;
  left: -9999px;
}
.menu-inferior__checkbox:checked ~ .menu-inferior__list {
  display: block;
}
.menu-inferior__toggler {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .menu-inferior__toggler {
    display: none;
  }
}
.menu-inferior__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: none;
}
@media screen and (min-width: 768px) {
  .menu-inferior__list {
    display: flex;
    width: 760px;
    justify-content: center;
    width: auto;
    border-width: 1px 0 2px 0;
    border-style: solid;
    padding-top: 10px;
    border-top-color: #6C3523;
    border-bottom-color: #cf8b43;
  }
}
.menu-inferior__item {
  border-bottom: 1px solid white;
}
@media screen and (min-width: 768px) {
  .menu-inferior__item {
    width: auto;
    font-size: 20px;
    flex-grow: 1;
    text-align: center;
    border-bottom: 0;
  }
}
.menu-inferior__link {
  display: block;
  text-decoration: none;
  padding: 5px 0;
  color: #6C3523;
}
.menu-inferior__link:hover {
  color: #2E170F;
  font-weight: bold;
}

/* ----- HERO ČÁST -----*/
.hero {
  display: flex;
  background-image: linear-gradient(#2E170F, #6C3523 30%, #2E170F);
}

.photo-hero {
  background-color: #F5E4E0;
  width: 20%;
  min-width: 40px;
  padding-right: 5px;
}

.title-hero {
  font-family: "PT Sans", Arial;
  color: #F5E4E0;
  text-align: center;
  margin: auto;
}
.title-hero__main {
  font-size: 30px;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .title-hero__main {
    font-size: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .title-hero__main {
    width: 760px;
    font-size: 50px;
  }
}
.title-hero__subtitle {
  font-size: 20px;
  margin: 0 auto;
  padding-top: 5px 0;
}
@media screen and (min-width: 768px) {
  .title-hero__subtitle {
    font-size: 30px;
  }
}

/* ----- NADPISY (ostatní - kromě hero) -----*/
.title {
  font-family: "PT Sans", Arial;
}

.title-main {
  /*h1 kromě hero*/
  color: #2E170F;
  margin-top: 50px;
}

.title-normal {
  /*h2 kromě hero*/
  font-size: 24px;
  margin-top: 50px;
  color: #6c3523;
}

.title-main + .title-normal::before, .menu-inferior + .title-normal::before {
  display: none;
}

.title-subtitle {
  /*h3*/
  font-size: 22px;
  color: #6C3523;
}
.title-subtitle::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: 30px;
  background-color: #cf8b43;
}

.title-category {
  /*h4*/
  font-size: 18px;
  color: #cf8b43;
}

.photo-page__picture {
  width: 100%;
  border-radius: 5%;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .photo-page__picture {
    width: auto;
  }
}
.photo-page__text {
  font-size: 10px;
  font-style: italic;
  margin-bottom: 10px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .photo-page__text {
    width: 444px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* tlačítko zpět */
.back {
  color: #cf8b43;
  padding: 5px;
  border-radius: 10%;
  border-color: #cf8b43;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
}
.back:hover {
  background-color: #cf8b43;
  color: #F5E4E0;
  box-shadow: 3px 3px e4d3cf;
  border-color: white;
}

.grid .back {
  text-align: center;
  grid-column-start: 2;
}

.body {
  margin: 0;
  padding: 0px;
  background-image: linear-gradient(#6C3523, #F5E4E0, #6C3523);
}

.text-highlighted {
  font-weight: bold;
  font-style: italic;
}

.text-normal {
  font-family: "PT Serif", "Times New Roman";
}

.section {
  padding-bottom: 50px;
}
.section::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: 50px;
  background-color: #6C3523;
}

.menu-inferior + .section::before {
  display: none;
}

.content-line {
  margin: 0 auto;
  padding: 0;
  background-color: #F5E4E0;
}
@media screen and (min-width: 768px) {
  .content-line {
    width: 760px;
  }
}
@media screen and (min-width: 1200px) {
  .content-line {
    width: 1000px;
  }
}
.content-line__article {
  margin: 0;
  margin-bottom: 10%;
  padding: 0 70px;
  text-align: center;
}
.content-line__footer {
  height: 50px;
  background-color: #2E170F;
}/*# sourceMappingURL=style.css.map */