@charset "UTF-8";
/*#4D2319 - tmave hneda
#2E170F - tmavsi hneda
#6C3523 - stredni hneda
#E6C0B2 - svetle hneda
#F5E4E0 - jeste svetlejsi
--------------------------
#E6AA68 - stredne bezova (fawn)*/
body {
  /*pozadí - packy

  background-image: url(/images/footprints.svg);
  background-repeat: repeat;
  background-size: 80px;
  background-position: center;

  */
  background-image: linear-gradient(#F5E4E0, #6C3523);
}

.hero {
  /*
  background-color: $background-hero-color;
  background-image: url(/images/footprints.svg);
  background-repeat: repeat;
  background-size: 40px;
  background-position: center;*/
  /*background-image: linear-gradient(#6C3523, #2E170F 10%, #6C3523 50%, #2E170F 90%, #6C3523 100%);*/
  background-image: linear-gradient(#2E170F, #6C3523 30%, #2E170F);
}

.photo-hero {
  background-color: #F5E4E0;
}

.title-hero {
  color: #F5E4E0;
}

.title {
  color: #6C3523;
}

.title-main {
  color: #2E170F;
}

.title-normal {
  color: #6c3523;
}

.title-subtitle {
  color: #6C3523;
}

.title-category {
  color: #E6AA68;
}

.menu {
  background-color: #6C3523;
}
.menu__item--active {
  background-color: #2E170F;
}
.menu__link {
  color: #F5E4E0;
}
.menu__link:hover {
  background-color: #2E170F;
}

.content-line {
  background-color: #F5E4E0;
}

footer {
  background-color: #2E170F;
}

/*
.footer-line{
    background-color: $menu__item-color--normal;
}

.footer-end{
    background-color: $menu__item-color--active;
}
*/
/*$text-normal
$text-highlighted
*/
.text-highlighted {
  font-weight: bold;
}

.content-article {
  text-align: center;
}

.title-hero {
  text-align: center;
}

.title-hero-main {
  font-size: 50px;
}

.title-hero-subtitle {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
}

.hero {
  display: flex;
}

.photo-hero {
  width: 20%;
  min-width: 40px;
  max-width: 150px;
  padding-right: 5px;
}

.title-hero {
  margin: auto;
}

.title-hero-main {
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.title-hero-subtitle {
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

li {
  list-style-type: none;
}

.menu {
  display: flex;
  margin-top: 5px;
  /*padding-bottom: $padding 0;*/
  justify-content: space-around;
  width: auto;
  /*
  @media screen and (min-width: $width-pc){

      flex-basis: calc($width-pc-line / 6);

  }
  */
}
@media screen and (min-width: 768px) {
  .menu {
    width: 760px;
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    width: 1000px;
  }
}
.menu__item {
  width: auto;
  font-size: 20px;
  flex-grow: 1;
  text-align: center;
}
.menu__link {
  display: block;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.content-line {
  margin: 0 auto;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .content-line {
    width: 760px;
  }
}
@media screen and (min-width: 1200px) {
  .content-line {
    width: 1000px;
  }
}

.content-article {
  margin: 0;
  margin-bottom: 10%;
  padding: 0 70px;
}

footer {
  height: 20px;
}/*# sourceMappingURL=style.css.map */