$title-color: #6C3523;
$title-hero-color:#2E170F;
$background-hero-color: #E6C0B2;
$menu__item--active: #2E170F;
$menu__item--normal: #6C3523;
$menu__item--text: #F5E4E0;
$content-line: #F5E4E0;

/*#4D2319 - tmave hneda
#2E170F - tmavsi hneda
#6C3523 - stredni hneda
#E6C0B2 - svetle hneda
#F5E4E0 - jeste svetlejsi
--------------------------
#E6AA68 - stredne bezova (fawn)*/

body {
    /*pozadí - packy

    background-image: url(/images/footprints.svg);
    background-repeat: repeat;
    background-size: 80px;
    background-position: center;

    */

    /*background-image: linear-gradient($title-hero-color, $menu__item--normal, $title-hero-color);*/

    background-image: linear-gradient($content-line, $menu__item--normal);

}

.hero {
    /*
    background-color: $background-hero-color;
    background-image: url(/images/footprints.svg);
    background-repeat: repeat;
    background-size: 40px;
    background-position: center;*/

    /*background-image: linear-gradient(#6C3523, #2E170F 10%, #6C3523 50%, #2E170F 90%, #6C3523 100%);*/
    background-image: linear-gradient($title-hero-color, $menu__item--normal, $title-hero-color );
}

.title-hero{
    color: $title-hero-color;
}

.title{
    color: $title-color;
}

.menu{
    background-color: $menu__item--normal;
    

    &__link{
        color: $menu__item--text;

        &:hover{
            background-color: $menu__item--active;
        }
    }
}

.content-line{
    background-color: $content-line;
}

footer{
    background-color: $title-hero-color;
}

/*
.footer-line{
    background-color: $menu__item--normal;
}

.footer-end{
    background-color: $content-line;
}
*/