@use 'measures';


$title-color: #6C3523;
$title-hero-color:#2E170F;
$background-hero-color: #E6C0B2;

$menu__item-color--active: #2E170F;
$menu__item-color--normal: #6C3523;
$menu__item-color--text: #F5E4E0;

$title-main-color: #2E170F;
$title-normal-color: #6c3523;
$title-subtitle-color: #6C3523;
$title-category-color: #cf8b43;

$content-line-color: #F5E4E0;


/*#4D2319 - tmave hneda
#2E170F - tmavsi hneda
#6C3523 - stredni hneda
#E6C0B2 - svetle hneda
#F5E4E0 - jeste svetlejsi
--------------------------
#E6AA68 - stredne bezova (fawn)*/

