@use 'measures';

/* ----- nastavení GRIDu, použit zatím jen na stránce Povaha > nejčastější problémy -----*/

.grid {

    text-align: center;
    display: grid;
    gap: measures.$grid__gap;
    
    
    align-items: start;

    @media screen and (min-width: measures.$width-tablet) {

        text-align: justify;

    }

    &__title {

        grid-column-start: 1;
        grid-column-end: 4;
        text-align: center;
        margin: 0;

        @media screen and (min-width: measures.$width-tablet) {

            text-align: justify;
    
        }

    }

    &__text-normal {

        grid-column-start: 1;
        grid-column-end: 4;
        margin: 0;
    
    }

    &__subtitle {

        text-align: center;
        margin: 0;
        grid-column-start: 1;
        grid-column-end: 4;

        @media screen and (min-width: measures.$width-tablet) {

            text-align: justify;
            grid-column-end: 2;
    
        }

    }


    &__text {

        grid-column-start: 1;
        grid-column-end: 4;
        margin: 0;
        
        @media screen and (min-width: measures.$width-tablet) {

            grid-column-start: 2;

        }

    }

    & :first-child {

        margin-top: measures.$grid__first-child-margin-top;

        &::before {
            
            display: none;
    
        }  
    
    }
    

}