@use 'colors';
@use 'text';
@use 'measures';


/*li {
   
    list-style-type: none;

    }*/

.menu {

    margin: 0;
    padding: 0;
    margin-top: measures.$menu__margin-top;
    background-color: colors.$menu__background-color;
    text-align: center;

    &__checkbox {
        
        position: absolute;
        left: -9999px;
        
        &:checked ~ .menu__list{
            display: block;
        }
    }

    &__toggler {

        cursor: pointer;
        font-size: text.$menu__toggler__font-size;
        font-weight: bold;
        color: colors.$menu__toggler__color;

        @media screen and (min-width: measures.$width-tablet){
            display: none;
        }

    }

    &__list {
        
        display: none;
        padding: 0;
        margin: 0;
        list-style: none;
        background-color: colors.$menu__list__color;

        @media screen and (min-width: measures.$width-tablet){

            display: flex;
            width: measures.$width-tablet-line;
            justify-content: space-around;
            width:auto;

        }
        
    }

    &__item {
        
        border-bottom: measures.$menu__item__border-bottom__width solid colors.$menu__item__border-bottom__color;
        padding: measures.$menu__item__padding;
        list-style-type: none;

        @media screen and (min-width: measures.$width-tablet){

            width: auto;
            font-size: text.$menu__item__font-size--tablet;
            flex-grow: 1;
            text-align: center;
            border-bottom: 0;
            padding: 0;

        }
    
    }

    &__item--active {

        @media screen and (min-width: measures.$width-tablet){

            background-color: colors.$menu__item-color--active;
        
        }

    }


    &__link {

        display: block;
        text-decoration: none;
        padding: measures.$menu__link__padding;
        color: colors.$menu__link__color;
        
        &:hover {
            background-color: colors.$menu__link__color--active;

        }
        
    }

}


.menu-inferior {
    
    margin: 0;
    padding: 0;
    margin-top: measures.$menu-inferior__margin-top;

    &__checkbox {
        
        position: absolute;
        left: -9999px;
        
        &:checked ~ .menu-inferior__list {
            display: block;
        }
    }

    &__toggler {

        cursor: pointer;
        font-size: text.$menu-inferior__toggler__font-size;
        font-weight: bold;

        @media screen and (min-width: measures.$width-tablet) {
            display: none;
        }

    }

    &__list {
        
        display: none;
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: none;

        @media screen and (min-width: measures.$width-tablet) {

            display: flex;
            width: measures.$width-tablet-line;
            justify-content: center;
            width:auto;

            border-width: measures.$menu-inferior__list__border-width--tablet;
            border-style: solid;
            padding-top: measures.$menu-inferior__list__padding-top--tablet;
            border-top-color: colors.$menu-inferior__list__border-top-color;
            border-bottom-color: colors.$menu-inferior__list__border-bottom-color;
            }    

        }
        
    

    &__item {
        
        border-bottom: measures.$menu-inferior__item__border-bottom__width solid colors.$menu-inferior__item__border-bottom__color;

        @media screen and (min-width: measures.$width-tablet){

            width: auto;
            font-size: text.$menu-inferior__item__font-size--tablet;
            flex-grow: 1;
            text-align: center;
            border-bottom: 0;

        }
    
    }

    &__link {

        display: block;
        text-decoration: none;
        padding: measures.$menu-inferior__link__padding;
        color: colors.$menu-inferior__link__color;
        
        &:hover {
            color: colors.$menu-inferior__link__color--active;
            font-weight: bold;
        }    
        
    }

}

