@use 'measures';
@use 'text';

.photo-page {

    &__picture {

        width: measures.$photo-page__picture__width;
        border-radius: measures.$photo-page__picture__border-radius;
        margin-top: measures.$photo-page__picture__margin-top;
    
        @media screen and (min-width: measures.$width-tablet) {
    
            width: auto;
    
        }
    
    }

    &__text {

        font-size: text.$photo-page__text__font-size;
        font-style: text.$photo-page__text__font-style;
        margin-bottom: measures.$photo-page__text__margin-bottom;
        width: measures.$photo-page__text__width;

        @media screen and (min-width: measures.$width-tablet) {
    
            width: measures.$photo-page__text__width--tablet;
            margin-left: auto;
            margin-right: auto;
    
        }
    
    }

}

.photo-galery{

    margin: measures.$photo-galery__margin;

}
