/*$text-normal
$text-highlighted
*/

.text-highlighted{
    font-weight: bold;
}

.content-article{
    text-align: center;
}

.title-hero {
    text-align: center;
}

.title-hero-main {
    font-size: 50px;
}

.title-hero-subtitle {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}
