@use 'colors';
@use 'text';

$width-tablet: 768px;
$width-pc: 1200px;
$width-pc-line: 800px;
$padding: 5px;
$margin-common: 5px;
$margin-end: 10%;

body {
    margin:0;
    padding: 0;
}

.hero{
    display: flex;
}

.photo-hero{
    width: 20%;
    padding-right: $margin-common;
    
}

.title-hero{
    margin: auto;
    padding-top: $padding;
    padding-bottom: $padding;
}



li{
        list-style-type: none;
    }

.menu {
    display: flex;
    margin-top: $margin-common;
    padding-bottom: $padding 0;
    justify-content: space-around;

    /*
    @media screen and (min-width: $width-pc){

        flex-basis: calc($width-pc-line / 6);
        
    }
    */

    &__item{
        
        width: auto;
        font-size: 20px;
        flex-grow: 1;
        text-align: center;

    
    }

    &__link{
        display: block;
        text-decoration: none;
        padding-top: $padding;
        padding-bottom: $padding;

        &:hover{
                    /*display: block;
                    
                    text-decoration: underline;*/
                }
        
    }
}

.content-line{
    margin: 0 auto;
    padding: 0;

    @media screen and (min-width: $width-tablet){

        width: 800px;
        
    }

    @media screen and (min-width: $width-pc){

        width: $width-pc-line;
        
    }
}

.content-article{
    margin: 0 $margin-end;
    margin-bottom: $margin-end;
}


footer{
    height: calc(4 * $margin-common);
}

