---
layout: /templates/page.njk
title: Povaha a problémové chování
---

    
<h1 class="title title-main">{{title}}</h1>

    <nav class="menu-inferior">

        <input type="checkbox" class="menu-inferior__checkbox" id="menu-checkbox-nature">
        
        <label for="menu-checkbox-nature" class="menu-inferior__toggler">☰ </label>
        
        <ul class="menu-inferior__list">
        
            <li class="menu-inferior__item"> 
                <a href="#nature-standard" class="menu-inferior__link">Oficiální standard</a>
            </li>

            <li class="menu-inferior__item"> 
                <a href="#nature-reality" class="menu-inferior__link">Reálné zkušenosti a nejčastější problémy</a>
            </li>

            <li class="menu-inferior__item"> 
                <a href="#nature-problems" class="menu-inferior__link">Terinčiny problémy</a>
            </li>
            
                
        </ul>

    </nav>

<section class="section">
    <!--Oficiální standard a realita (povaha)-->

    <h2 class="title title-normal" id="nature-standard">Oficální standard</h2>

    <p class="text-normal">Přátelský k&nbsp;lidem i zvířatům, aktivní, vytrvalý, všestranný sportovní a společenský pes. Bystře sleduje okolí, dobrý hlídač, ne však agresivní.</p>

    <p class="text-normal">(Zdroj: <a class="link" href="https://www.cmku.cz/cz" target="_blank">ČeskoMoravská Kynologická Unie</a>)</p>



    <h2 class="title title-normal" id="nature-reality">Reálné zkušenosti a nejčastější problémy</h2>


    <p class="text-normal">Přátelská k&nbsp;lidem a zvířatům rozhodně je. Někdy až moc. Samozřejmě záleží na&nbsp;zkušenostech - jednu dobu se po nepříjmené zkušenosti bála dětí.</p>

    <p class="text-normal">Co se dobrého hlídače týče - počítejte raději s&nbsp;tím, že se taky může stát, že budete mít vítacího psa, který ani nepípne, abyste mu pozornost návštěvy náhodou nepřebrali.</p>


    
    <h3 class="title title-subtitle">Energie</h3>
    
    <p class="text-normal">Když jsem si malou Terinku poprvé vezla domů od&nbsp;chovatelky, bylo to klidné a ospalé štěňátko. Pak se vyspala a energie měla na&nbsp;rozdávání. Říkala jsem jí Torpédo Terinka. Byla rychlá jako blesk. Když jsem ji venku pustila na&nbsp;10m vodítku, aby se proběhla s&nbsp;ostatními štěňaty, tak zvládla běhat dokola v&nbsp;takové rychlosti, že jsme měli problémy ji chytit, resp. vůbec zachytit to dlouhé vodítko vlající za&nbsp;ní. A snažilo se nás o&nbsp;to několik.
    Navíc byla “ADHD”, jak jsem tomu říkala. Neuvěřitelně roztěkaná, měla problém udržet pozornost. S&nbsp;tím jsme bojovaly hlavně při výcviku. Vždy byla a je velmi učenlivá a není a ani nebyla tvrdohlavá. Problém byl s&nbsp;pozorností. Trochu jsme bojovaly s&nbsp;tím, že např. po&nbsp;správně vykonaném povelu sedni, zase hned vstala, a to tak rychle, že jsem nestihla použít ani marker (natož to zachytit slovně) a odměnit ji za&nbsp;to. Dalo by se říct, že můj reflexní oblouk byl mnohem delší, než její.</p>

    <h3 class="title title-subtitle">Samota</h3>
        
    <p class="text-normal">Trénink samoty opravdu nepodceňujte. U&nbsp;ČSP je to častý problém. Upozorňovala mě na&nbsp;to i chovatelka a také jsme se s&nbsp;tím s&nbsp;Ter docela dlouho trápily (podrobněji viz <a class="link" href="#solitude">níže</a>).</p>

    <h3 class="title title-subtitle">Lovecké pudy</h3>
        
    <p class="text-normal">Slyšela jsem, že někteří s&nbsp;tím mají problém, Ter byla v&nbsp;tomto ohledu naštěstí docela v&nbsp;pohodová - asi jako každý jiný pes. Raději jí nedávám moc příležitostí mi dokázat, že problém nemá, ale pokud vidí zvíře v&nbsp;dálce, tak se za&nbsp;ním nerozběhne.</p>

    <h3 class="title title-subtitle">Výchovné metody</h3>

    <p class="text-normal">Co se výchovných metod týče, jednoznačně doporučuji metodu <span class="text-highlighted">pozitivní motivace</span>. Je to ten typ psa, který rád chválen. Opravováním bych ji demotivovala, nebavilo by ji to, výcvik by trval o&nbsp;to déle a trápily bychom se obě. Kdybych na&nbsp;ni křičela, hrozilo by, že ji zlomím, a to jsem nechtěla a nechci. Nemívají to tak všichni psi, ale Ter byla odjakživa hrozná citlivka.</p>
        
    <p class="text-normal">Co se odměn týče, v&nbsp;některých případech pracovala mnohem lépe za&nbsp;hračku, resp. hru s&nbsp;hračkou, než za&nbsp;pamlsky. Všichni psi, se kterými jsem měla v&nbsp;minulosti co dočinění, byli jednoznačně zaměření na&nbsp;pamlsky, takže tohle byla pro mě novinka.</p>

    {% include 'partials/back.njk' %}

</section>
    
<section class="section">
    <!--Terinčine problémy a jak na ně-->

    <h2 class="title title-normal" id="nature-problems">Terinčiny problémy</h2>
    
    <nav class="menu-inferior">

        <input type="checkbox" class="menu-inferior__checkbox" id="menu-checkbox-problems">
        
        <label for="menu-checkbox-problems" class="menu-inferior__toggler">☰ </label>
        
        <ul class="menu-inferior__list">
        
            <li class="menu-inferior__item"> 
                <a href="#solitude" class="menu-inferior__link">Samota</a>
            </li>

            <li class="menu-inferior__item"> 
                <a href="#summoning" class="menu-inferior__link">Přivolání</a>
            </li>

            <li class="menu-inferior__item"> 
                <a href="#car" class="menu-inferior__link">Cesta autem</a>
            </li>
            
            <li class="menu-inferior__item"> 
                <a href="#children" class="menu-inferior__link">Strach z dětí</a>
            </li>
                
        </ul>

    </nav>

    <section class="grid">
        <!--konkrétní problémy a co pomohlo"-->
        
        <h3 class="title title-subtitle grid__title" id="solitude">Samota - štěkání a ničení věcí</h3>

            
        <p class="text-normal grid__text-normal">Ter miluje společnost. Lidskou i psí. Už odmalička nechtěla být sama. Když jsem ji na&nbsp;chvíli nechala samotnou, ať už na&nbsp;5&nbsp;minut, nebo jsem šla do&nbsp;práce, pokaždé dávala svou nevoli hlasitě najevo. Pokud zrovna nespala, tak naříkala. A to takovým způsobem, že ji bylo slyšet ze&nbsp;6.&nbsp;patra až dolů do&nbsp;přízemí. <span class="text-highlighted">Trvalo to 3&nbsp;měsíce, než si zvykla</span>, že přes den zůstává sama doma, zatímco já jsem v&nbsp;práci. Asi si umíte představit, že sousedé z&nbsp;toho nebyli zrovna nadšení.</p>

        <p class="text-normal grid__text-normal">Kromě hlasitého projevu dávala svou nelibost ze&nbsp;samoty najevo i jinak. Poškrábané dveře, omítka na&nbsp;zdech, okousaný nábytek, natržené lino (přes které jsem pak měla problém vůbec se dostat do&nbsp;bytu), zničené kobercové lišty (kdybych věděla, že se jí nebudou líbit, tak si je nepořizuju), rozkousaný dálkový ovladač zapomenutý na&nbsp;konferenčním stolku, okousaný mobilní telefon zapomenutý tamtéž, zatímco jsem si šla dát sprchu. Roztržená kapsa od&nbsp;bundy, když jsem v&nbsp;ní zapomněla pamlsky a bundu nechala v&nbsp;jejím dosahu. Tradičně velmi ohrožené boty přežily, ty se mi podařilo chránit – nenechat je se&nbsp;psem o&nbsp;samotě.</p>
        

        
            <h4 class="title title-category grid__subtitle">Co pomohlo</h4>

            <p class="text-normal grid__text">Zkoušela jsem všechno možné. Neloučit se s&nbsp;ní a po příchodu se s&nbsp;ní nevítat (to, že odcházím/přicházím je přece normální), nechávala jsem jí puštěné rádio, zkoušela jsem i puštěnou TV, nechávala jsem jí doma pamlsky, které musela dolovat z&nbsp;hračky, po&nbsp;tel. konzultaci s&nbsp;psí trenérkou jsem jí pořídila feromonový obojek, dávala určité pamlsky "na&nbsp;uklidnění" (měla jsem i poznačené, co koupit u&nbsp;veterináře, kdyby tyto nepomohly), natáčela jsem ji na&nbsp;video, které jsem si vždy po&nbsp;práci zrychleně pouštěla, abych viděla, co doma dělá a jestli to její vyvádění nezpůsobuje něco konrétního. Dostala jsem i nějaké další tipy na&nbsp;to, jak ji zabavit na&nbsp;delší dobu, aby nemyslela na&nbsp;to, že je sama.</p>

            <p class="text-normal grid__text">Doteď netuším, co vlastně nakonec zafungovalo. Možná kombinace toho všeho a času.</p>

            <p class="text-normal grid__text">Pamatuji si, že už jsem se dokonce preventivně dívala po&nbsp;jiných nájmech (s&nbsp;takovou nás brzy vyhodí) a přemýšlela, jestli by jí s&nbsp;někým jiným nebylo lépe. Třeba s&nbsp;někým, kdo má dům a sousedé by to neslyšeli tak intenzivně. A najednou klid. Zvykla si. Teď už ani nepípne, když je doma sama. Sousedé se dokonce zprvu ptali, jestli ji ještě stále mám. Doma vydrží i 10&nbsp;h sama, ale to opravdu jen ve&nbsp;velice výjimečných případech.</p>

            <p class="text-normal grid__text">Nejnáročnějším na&nbsp;tom všem bylo zachovat klid a nekřičet na&nbsp;ni. Ter má velmi citlivou povahu. Stačilo jen trochu zvednout hlas a ona už se krčila jakoby čekala ránu. Přitom jsem ji nikdy neuhodila. V&nbsp;mé přítomnosti nic neničila (resp. dala si hned říct), škody byly jen když jsem ji nechala samotnou.</p>

            <p class="text-normal grid__text">Doteď si netroufnu ji nechat samotnou někde na&nbsp;ubytování. Když zůstane sama u&nbsp;našich, tak doposud občas dělává protestní hromádku nebo loužičku. A nezáleží na tom, jak dlouho ji necháme samotnou, jestli třeba jen 20&nbsp;minut nebo 2&nbsp;h. Bez&nbsp;problému to zvládá jen doma a solidní úspěšnost má i na&nbsp;naší chatě.</p>

        {% include 'partials/back.njk' %}


        <h3 class="title title-subtitle grid__title" id="summoning">Přivolání</h3>

        <p class="text-normal grid__text-normal">S&nbsp;přivoláním byl problém od&nbsp;úplného začátku. Nejspíše jste slyšeli o&nbsp;tom, že malé štěně se vás drží. Já o&nbsp;tom také slyšela, bohužel Terinka evidentně ne. Venku bylo cokoliv zajímavější než já. Pejsci, ptáčci, lidé, děti, motýlci, lísteček… Prostě cokoliv. Do&nbsp;parku jsem proto brala desetimetrové vodítko a pouštěla jsem ji zprvu jen na&nbsp;něm. Pak jsem si všimla, že se hezky drží některých svých psích kamarádů. Takže s&nbsp;takovým kamarádem, který uměl přivolání, jsem ji občas pustila, ať se proběhne. Jinak jsem její pohyb řešila aportem na desetimetrové vodítku, dlouhými procházkami a začala jsem kvůli ní dokonce i běhat.</p>

            <h4 class="title title-category grid__subtitle">Co pomohlo</h4>

            <p class="text-normal grid__text">Aby za&nbsp;mnou venku přišla, musela jsem být zábavnější, než cokoliv jiného. Pomohlo přivolání na&nbsp;klacík. Pouštěla jsem jí jen tehdy, když jsem měla v ruce klacík, na který jsem jí v&nbsp;případě potřeby přivolala (nalákala) a za&nbsp;odměnu jsme se o&nbsp;něj přetahovaly. To ji moc bavilo, takže toto přivolání mi fungovalo dobře. Jen jsem si musela dát pozor, abych měla vždy nějaký k&nbsp;dispozici, tj. aby mi i po&nbsp;odhození aportu jeden zůstal. Později jsme chodily na&nbsp;kurz tzv. "přivolávačských her" a ty nám hodně pomohly. Teď už můžu Ter pustit prakticky kdekoliv a vím, že přijde. Nezapomínám však, o&nbsp;kolik je můj reflexní oblouk delší, než její a na&nbsp;některých místech to proto neriskuji ani teď. Aby se jí něco nestalo, například aby ji nepřijelo auto.</p>
       

        {% include 'partials/back.njk' %}

        <h3 class="title title-subtitle grid__title" id="car">Štěkání v autě</h3>
        
        <p class="text-normal grid__text-normal">Jako malá cestu autem proštěkala.</p>

            <h4 class="title title-category grid__subtitle">Co pomohlo</h4>
                
            <p class="text-normal grid__text">Naštěstí jsme jezdívaly autem několikrát týdně (na&nbsp;cvičák, na&nbsp;návštěvy…), takže ji to pak brzy přešlo. Teď už je jízda v&nbsp;autě s&nbsp;ní naprosto pohodová a je zvyklá tam chvíli zůstat sama, abych např. zaplatila za&nbsp;benzín po&nbsp;natankování.</p>
        

        {% include 'partials/back.njk' %}

        <h3 class="title title-subtitle grid__title" id="children">Strach z dětí</h3>
        

        <p class="text-normal grid__text-normal">Ter měla v&nbsp;mládí nepříjemnou zkušenost s&nbsp;jednou asi desetiletou holčičkou a chvíli trvalo, než se přestala bát dětí. Doposud před&nbsp;nimi prchá, když jsou na&nbsp;ni moc hr.</p>

            <h4 class="title title-category grid__subtitle">Co pomohlo</h4>

            <p class="text-normal grid__text">Vídali jsme se s&nbsp;mojí kamarádkou, která v&nbsp;té době měla hodně malé, ale moc šikovné děti, které si daly říct a Ter nenaháněli a zvládly si jí nevšímat, když jsme je o&nbsp;to požádali. Ter tak postupně zjistila, že se jich nemusí bát. Naopak, že jsou skvělí na&nbsp;házení míčků. Zprvu jsem jim musela dělat prostředníka a míček od&nbsp;psa převzít a předat dítěti. Postupně je začala nosit přímo jim. Teď už spolu vycházejí výborně.</p>

        {% include 'partials/back.njk' %}
        
    </section>


</section>