<!DOCTYPE html>
<html lang="cs">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/css/style.css">

<body class="body">
    
    <div class="content-line">
            
        <header class="hero">

            <img class="photo-hero" src="/images/mini/ter_profile-sq-mini.jpg" alt="hlava Terinky">
            
            <div class="title-hero">

                <h1 class="title-hero__main">Terinka</h1>

                <h2 class="title-hero__subtitle">jeden Český strakatý pes</h2>
            
            </div>
            
        </header>

        <main class="content-line__content">

            {{ content | safe }}

        </main>

        <footer class= "content-line__footer"> 
        </footer>

    </div>

    
    <script src="/fslightbox.js"></script>
</body>


</html>
