<!DOCTYPE html>
<html lang="cs">
    <link rel="stylesheet" href="/css/style.css">

<body>
    
    <div class="content-line">
            
        <header class="hero">
           <img class="photo-hero" src="/images/ter_profile.jpg" alt="hlava Terinky"</img>
           <h1 class="title-hero">Terinka - Český strakatý pes</h1> 
        </header>

        <div class="menu">
            <li class="menu__item"> <a href="/" class="menu__link">Úvod</a></li>
            <li class="menu__item"> <a href="/vzhled" class="menu__link">Vzhled</a></li>
            <li class="menu__item"> <a href="/povaha" class="menu__link">Povaha</a></li>
            <li class="menu__item"> <a href="/aktivity" class="menu__link">Aktivity</a></li>
            <li class="menu__item"> <a href="/galerie" class="menu__link">Galerie</a></li>
            <li class="menu__item"> <a href="/kontakt" class="menu__link">Kontakt</a></li>
        </div>

        <main class="content-article">

            {{ content | safe }}

        </main>

        <footer>
            <section class="footer-line"></section>
            <section class="footer-end"></section>
        </footer>

    </div>

</body>


</html>
