<!DOCTYPE html>
<html lang="cs">
    <link rel="stylesheet" href="/css/style.css">

<body>
    
    <div class="content-line">
            
        <header class="hero">

            <img class="photo-hero" src="/images/mini/ter_profile-sq-mini.jpg" alt="hlava Terinky">
            
            <div class="title-hero">

                <h1 class="title-hero-main">Terinka</h1>
                <h2 class="title-hero-subtitle">jeden Český strakatý pes</h2>
            
            </div>
            
        </header>

        <main class="content">

            {{ content | safe }}

        </main>

        <footer>
            <!--
            <section class="footer-line">...</section>
            <section class="footer-end">...</section>
             -->
        </footer>

    </div>

    
    <script src="/fslightbox.js"></script>
</body>


</html>
