<nav class="menu">
    <li class="menu__item {{ 'menu__item--active' if page.fileSlug === '' }}"> 
        <a href="/" class="menu__link">Úvod</a>
    </li>

    <li class="menu__item {{ 'menu__item--active' if page.fileSlug === 'vzhled' }}"> 
        <a href="/vzhled" class="menu__link">Vzhled</a>
    </li>
    
    <li class="menu__item {{ 'menu__item--active' if page.fileSlug === 'povaha' }}"> 
        <a href="/povaha" class="menu__link">Povaha</a>
    </li>
    
    <!--
    <li class="menu__item {{ 'menu__item--active' if page.fileSlug === 'aktivity' }}"> 
        <a href="/aktivity" class="menu__link">Aktivity</a>
    </li>
    -->

    <li class="menu__item {{ 'menu__item--active' if page.fileSlug === 'galerie' }}"> 
        <a href="/galerie" class="menu__link">Galerie</a>
    </li>

    <li class="menu__item {{ 'menu__item--active' if page.fileSlug === 'kontakt' }}"> 
        <a href="/kontakt" class="menu__link">Kontakt</a>
    </li>
</nav>

