<nav class="menu">

    <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
	
    <label for="menu-checkbox" class="menu__toggler">☰ Menu</label>
    
    <ul class="menu__list">
    
        <li class="menu__item {{ 'menu__item--active' if page.fileSlug === '' }}"> 
            <a href="/" class="menu__link">Úvod</a>
        </li>

        <li class="menu__item {{ 'menu__item--active' if page.fileSlug === 'vzhled' }}"> 
            <a href="/vzhled" class="menu__link">Vzhled</a>
        </li>
        
        <li class="menu__item {{ 'menu__item--active' if page.fileSlug === 'povaha' }}"> 
            <a href="/povaha" class="menu__link">Povaha</a>
        </li>
        
        <!--
        <li class="menu__item {{ 'menu__item--active' if page.fileSlug === 'aktivity' }}"> 
            <a href="/aktivity" class="menu__link">Aktivity</a>
        </li>
        -->

        <li class="menu__item {{ 'menu__item--active' if page.fileSlug === 'galerie' }}"> 
            <a href="/galerie" class="menu__link">Galerie</a>
        </li>

        <li class="menu__item {{ 'menu__item--active' if page.fileSlug === 'kontakt' }}"> 
            <a href="/kontakt" class="menu__link">Kontakt</a>
        </li>
    
    </ul>

</nav>

